<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="consumerphysics.com.test">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="icon">
        <activity
            android:name="com.consumerphysics.android.sdk.sciosdk.ScioLoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="consumerphysics.com.activities.MainScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="consumerphysics.com.activities.Discover"
            android:label="@string/title_activity_discover"
            android:screenOrientation="portrait"/>
        <activity
            android:name="consumerphysics.com.activities.ModelSearch"
            android:label="@string/title_activity_model"
            android:screenOrientation="portrait"/>
        <activity
            android:name="consumerphysics.com.activities.Classification"
            android:label="@string/title_activity_classification"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".EstimationActivityis"
            android:label="@string/title_activity_classification"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait">

        </activity>

    </application>

</manifest>